# Python
__pycache__/
*.pyc
.idea

# Notebooks
.ipynb_checkpoints/
Untitled*.ipynb
*.ipynb_convert
*.nbconvert.ipynb
*.ipynb~

# Data & results
tools/
data/*
data/work/
labs/01_intro&databases/data/work/
data/**/results/
data/**/outputs/
data/**/artifacts/
scripts/
scripts/*
results/
outputs/
artifacts/
mlruns/
*.parquet
*.feather
*.csv.gz
*.tsv.gz
*.log

# Envs
.venv/
.env
.env.*

# OS / IDE
.DS_Store
.idea/
.vscode/
Thumbs.db
desktop.ini

# Build
dist/
build/

# Tests
.pytest_cache/

# Allow sample data
!data/sample/
!data/sample/**
data/sample/data_generation_notes.md

assigments/
